[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.27.1"
google-api-python-client = "2.78.0"
google-auth-httplib2="*"
google-auth-oauthlib="*"
uvicorn = "~=0.21.1"
fastapi = ">=0.95.1"
python-multipart = "~=0.0.5"
tenacity = "~=6.1.0"
pydantic = "*"
oauth2client = "*"
prometheus_fastapi_instrumentator = "~=5.8.1"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.9"
